In [0]:
import numpy as np
import pandas as pd
from scipy.io.arff import loadarff 
import sklearn as sk
from sklearn.preprocessing import LabelEncoder

In [85]:
df = pd.read_csv("ckd.arff")
print(df)
df.info()

    age  bp     sg al su     rbc  ...   dm cad appet   pe  ane   class
0    48  80  1.020  1  0       ?  ...  yes  no  good   no   no     ckd
1     7  50  1.020  4  0       ?  ...   no  no  good   no   no     ckd
2    62  80  1.010  2  3  normal  ...  yes  no  poor   no  yes     ckd
3    48  70  1.005  4  0  normal  ...   no  no  poor  yes  yes     ckd
4    51  80  1.010  2  0  normal  ...   no  no  good   no   no     ckd
..   ..  ..    ... .. ..     ...  ...  ...  ..   ...  ...  ...     ...
395  55  80  1.020  0  0  normal  ...   no  no  good   no   no  notckd
396  42  70  1.025  0  0  normal  ...   no  no  good   no   no  notckd
397  12  80  1.020  0  0  normal  ...   no  no  good   no   no  notckd
398  17  60  1.025  0  0  normal  ...   no  no  good   no   no  notckd
399  58  80  1.025  0  0  normal  ...   no  no  good   no   no  notckd

[400 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     400 non-null    object
 1   bp      400 non-null    object
 2   sg      400 non-null    object
 3   al      400 non-null    object
 4   su      400 non-null    object
 5   rbc     400 non-null    object
 6   pc      400 non-null    object
 7   pcc     400 non-null    object
 8   ba      400 non-null    object
 9   bgr     400 non-null    object
 10  bu      400 non-null    object
 11  sc      400 non-null    object
 12  sod     400 non-null    object
 13  pot     400 non-null    object
 14  hemo    400 non-null    object
 15  pcv     400 non-null    object
 16  wbcc    400 non-null    object
 17  rbcc    400 non-null    object
 18  htn     400 non-null    object
 19  dm      400 non-null    object
 20  cad     400 non-null    object
 21  appet   400 non-null    object
 22  pe      400 non-null    object
 23  ane     400 non-null    object
 24  class   400 non-null    object
dtypes: object(25)
memory usage: 78.2+ KB

In [0]:
#Define tipe data int dan float yang akan digunakan untuk encoding
numerics = ['int64', 'float64']
categorical_columns = []
features = df.columns.values.tolist()
for col in features:
    if df[col].dtype in numerics: continue
    categorical_columns.append(col)
#Meng-encode data yang categorical
for col in categorical_columns:
    if col in df.columns:
        le = LabelEncoder()
        le.fit(list(df[col].astype(str).values))
        df[col] = le.transform(list(df[col].astype(str).values))

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     400 non-null    int64
 1   bp      400 non-null    int64
 2   sg      400 non-null    int64
 3   al      400 non-null    int64
 4   su      400 non-null    int64
 5   rbc     400 non-null    int64
 6   pc      400 non-null    int64
 7   pcc     400 non-null    int64
 8   ba      400 non-null    int64
 9   bgr     400 non-null    int64
 10  bu      400 non-null    int64
 11  sc      400 non-null    int64
 12  sod     400 non-null    int64
 13  pot     400 non-null    int64
 14  hemo    400 non-null    int64
 15  pcv     400 non-null    int64
 16  wbcc    400 non-null    int64
 17  rbcc    400 non-null    int64
 18  htn     400 non-null    int64
 19  dm      400 non-null    int64
 20  cad     400 non-null    int64
 21  appet   400 non-null    int64
 22  pe      400 non-null    int64
 23  ane     400 non-null    int64
 24  class   400 non-null    int64
dtypes: int64(25)
memory usage: 78.2 KB

In [88]:
print(df.groupby('rbc').size())

rbc
0    152
1     47
2    201
dtype: int64

In [0]:
#Split data
# Import fungsi train_test_split
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
df_feature = df.iloc[:,0:24]
df_target = df[['class']]
# 70% training dan 30% test. ini untuk algortima SGD 1
X_train1, X_test1, y_train1, y_test1 = train_test_split(df_feature, df_target, test_size=0.3,random_state=109)

In [0]:
from sklearn import linear_model

#Create Classifier
classifier1 = linear_model.SGDClassifier(max_iter = 1000, tol=1e-3,penalty = "elasticnet")

# Train the model using the training sets
classifier1.fit(X_train1, y_train1.values.ravel())

#Predict the response of test dataset
y_pred1 = classifier1.predict(X_test1)

In [91]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test1,y_pred1))
print("Accuracy : ")
print(accuracy_score(y_test1, y_pred1))

              precision    recall  f1-score   support

           0       0.99      0.93      0.96        76
           2       0.90      0.98      0.93        44

    accuracy                           0.95       120
   macro avg       0.94      0.96      0.95       120
weighted avg       0.95      0.95      0.95       120

Accuracy :
0.95