In [0]:
import pandas as pd
import numpy as np
from scipy.io.arff import loadarff 
import sklearn as sk
from sklearn.preprocessing import LabelEncoder

In [0]:
df = pd.read_csv("ckd.arff")
print(df.head())

  age  bp     sg al su     rbc        pc  ...  htn   dm cad appet   pe  ane class
0  48  80  1.020  1  0       ?    normal  ...  yes  yes  no  good   no   no   ckd
1   7  50  1.020  4  0       ?    normal  ...   no   no  no  good   no   no   ckd
2  62  80  1.010  2  3  normal    normal  ...   no  yes  no  poor   no  yes   ckd
3  48  70  1.005  4  0  normal  abnormal  ...  yes   no  no  poor  yes  yes   ckd
4  51  80  1.010  2  0  normal    normal  ...   no   no  no  good   no   no   ckd

[5 rows x 25 columns]

In [0]:
#Define tipe data int dan float yang akan digunakan untuk encoding
numerics = ['int64', 'float64']
categorical_columns = []
features = df.columns.values.tolist()
for col in features:
    if df[col].dtype in numerics: continue
    categorical_columns.append(col)
#Meng-encode data yang categorical
for col in categorical_columns:
    if col in df.columns:
        le = LabelEncoder()
        le.fit(list(df[col].astype(str).values))
        df[col] = le.transform(list(df[col].astype(str).values))
df.head()

   age  bp  sg  al  su  rbc  pc  pcc  ...  rbcc  htn  dm  cad  appet  pe  ane  class
0   36   8   3   1   0    0   2    1  ...    34    2   5    2      1   1    1      0
1   60   5   3   4   0    0   2    1  ...    49    1   4    2      1   1    1      0
2   52   8   1   2   3    2   2    1  ...    49    1   5    2      2   1    2      0
3   36   7   0   4   0    2   1    2  ...    19    2   4    2      2   2    2      0
4   40   8   1   2   0    2   2    1  ...    27    1   4    2      1   1    1      0

[5 rows x 25 columns]

In [0]:
print(df.groupby('rbc').size())

rbc
0    152
1     47
2    201
dtype: int64

In [0]:
#Split data
# Import fungsi train_test_split
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
df_feature = df.iloc[:,0:24].values
df_target = df.iloc[:, 24].values
# 70% training dan 30% test. ini untuk algortima SGD 1
X_train, X_test, y_train, y_test = train_test_split(df_feature, df_target, test_size=0.3,random_state=109)

In [0]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
from sklearn import svm

SVMclassifier = svm.SVC()
SVMclassifier.fit(X_train,y_train)
y_pred = SVMclassifier.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_pred))
print("Accuracy : ")
print(accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99        76
           2       1.00      0.95      0.98        44

   micro avg       0.98      0.98      0.98       120
   macro avg       0.99      0.98      0.98       120
weighted avg       0.98      0.98      0.98       120

Accuracy :
0.9833333333333333